*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    width:100%;
    margin:0;
}
.row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
[class*="col-"]{
    background-color: rgb(49, 123, 169);
    color:white;
    border:1px solid white;
    text-align: center;
    padding:0.80rem;
    font-size:0.90rem;
    height:calc((100% / 12) * 1);
}
.offset-12{
    margin-left: calc((100% / 12) * 12);
    height:1.5rem;
}
.flex{
    display:flex;
    flex-direction:row;
}
.green{
    background-color: rgb(113, 165, 65);
    padding:0.50rem;
    border:1px solid rgb(49, 123, 169);
}
.col-1{
    flex-basis: calc((100% / 12) * 1);
}
.col-2{
    flex-basis: calc((100% / 12) * 2);
}
.col-3{
    flex-basis: calc((100% / 12) * 3);
}
.col-4{
    flex-basis: calc((100% / 12) * 4);
}
.col-5{
    flex-basis: calc((100% / 12) * 5);
}
.col-6{
    flex-basis: calc((100% / 12) * 6);
}
.col-7{
    flex-basis: calc((100% / 12) * 7);
}
.col-8{
    flex-basis: calc((100% / 12) * 8);
}
.col-9{
    flex-basis: calc((100% / 12) * 9);
}
.col-10{
    flex-basis: calc((100% / 12) * 10);
}
.col-11{
    flex-basis: calc((100% / 12) * 11);
}
.col-12{
    flex-basis: calc((100% / 12) * 12);
}
